<section class="content-header" th:replace="common/entete.html"></section>
<body>


	<div class="container">
	<h1>Gestion des Potagers!</h1>
	<h2>Liste des Potagers a manager</h2>
		<table class="table table-striped" style="width:80%">
		<thead>
			<th>Nom</th>
			<th>Localisation</th>
			<th>Surface</th>
			<th>ville</th>
			<th>actions</th>
		</thead>
		<tbody >
		<tr th:each="potager : ${potagers}">
			<td th:text="${potager.nom}"></td>
			<td th:text="${potager.localisation}"></td>
			<td th:text="${potager.surface}"></td>
			<td th:text="${potager.ville}"></td>
			<td><a th:href="@{/potager/modifier/{id}(id=${potager.id})}"><button class="btn btn-primary">modifier</button></a></td>
			<td><a th:href="@{/potager/supprimer/{id}(id=${potager.id})}"><button class="btn btn-danger">Supprimer</button></a></td>
			<td><a th:href="@{/potager/{id}(id=${potager.id})}"><button class="btn btn-warning">Afficher</button></a></td>
		</tr>
		</tbody>
	</table>
	<a href="potager/ajouter">ajouter Un potager</a>
	
		<h2>Liste des Plantes</h2>
	<table class="table table-striped" style="width:80%">
		<thead>
			<th>Nom</th>
			<th>Variete</th>
			<th>surface</th>
			<th>type</th>
			<th colspan="2">actions</th>
		</thead>
		<tbody >
			<tr th:each="plante : ${plantes}">
				<td th:text="${plante.nom}"></td>
				<td th:text="${plante.variete}"></td>
				<td th:text="${plante.surface}"></td>
				<td th:text="${plante.type}"></td>
				<td><a th:href="@{/plante/modifier/{id}(id=${plante.id})}"><button class="btn btn-primary">modifier</button></a></td>
				<td><a th:href="@{/plante/supprimer/{id}(id=${plante.id})}"><button class="btn btn-danger">Supprimer</button></a></td>
			</tr>
		</tbody>
	</table>
	<a href="plante/ajouter">ajouter Une plante</a>
	</div>

</body>
</html>